.scoreboard{
  z-index: 3;
  color: white;
  display: flex;
  text-transform: uppercase;
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
  text-shadow: .5px .5px black;
  padding: 10px;
  width: 100%;
  padding: 20px;
  @include breakpointMax(xl){
    transform: translateY(50%);
    font-size: 1.3rem;
  }
  @include breakpointMax(1300px){
    font-size: 1rem;
    transform: translateY(30%);
  }
  @include breakpointMax(1000px){
    transform: translateY(0%);
    font-size: 1rem;
  }
  @include breakpointMax(xs){
    transform: translateY(50%);
    padding: 10px;
    font-size: .9rem;
  }
  @include breakpointMax(400px){
    transform: translateY(20%);
    font-size: .8rem;
  }
  &__item{
    display: flex;
    margin: 0 10px;
    @include breakpointMax(xs){
      margin: 0 2px;
    }
  }
  &__value{
    margin-left: 5px;
    min-width: 30px;
    text-align: left;
    @include breakpointMax(xs){
      min-width: 10px;
    }
    &.stopwatch{
      margin-left: 5px;
      min-width: 120px;
      @include breakpointMax(1300px){
        min-width: 80px;
      }
      @include breakpointMax(xs){
        min-width: 60px;
      }
    }
    &.score{
      min-width: 80px;
      @include breakpointMax(1300px){
        min-width: 50px;
      }
      @include breakpointMax(xs){
        min-width: 40px;
      }
    }
  }
}