.scoreboard{
  z-index: 3;
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  display: flex;
  text-transform: uppercase;
  font-size: 1.8rem;
  display: flex;
  justify-content: space-between;
  @include breakpointMax(1000px){
    top: 0px;
    font-size: 1rem;
  }
  @include breakpointMax(xs){
    top: 40px;
    font-size: 1rem;
  }
  @include breakpointMax(400px){
    top: 20px;
    font-size: .9rem;
  }
  @include breakpointMax(xxxs){
    font-size: .8rem;
  }
  &__item{
    min-width: 200px;
    margin: 0 5px;
    @include breakpointMax(1000px){
      min-width: 90px;
    }
    @include breakpointMax(400px){
      min-width: 80px;
    }
    @include breakpointMax(xxxs){
      font-size: .8rem;
      margin: 0 2px;
    }
    &.moves{
      min-width: 170px;
      @include breakpointMax(1000px){
        min-width: 70px;
      }
      @include breakpointMax(400px){
        min-width: 60px;
      }
    }
  }
}