@import 'sass/settings.scss';
@import 'sass/variables.scss';
@import 'sass/mixins.scss';
@import 'sass/breakpoints.scss';
@import 'sass/loading-screen.scss';
@import 'sass/game.scss';
@import 'sass/scoreboard.scss';
@import 'sass/header.scss';
@import 'sass/end-game-pop-up.scss';
@import 'sass/about-pop-up.scss';
@import 'sass/cookies-info.scss';